{% extends 'main/base.html' %}

{% block content %}
{% load static %}
{% load my_tags %}
<div class="my-3 p-3 bg-body rounded shadow-sm" xmlns="http://www.w3.org/1999/html">
    <h6 class="border-bottom pb-2 mb-3 text-warning">Пользователи</h6>
    <a href="{% url 'users:create_user' %}" class="btn btn-outline-warning mb-3">Добавить пользователя</a>
</div>
<div class="col-6">
    <div class="row-auto">
        {% for object in object_list %}

        <div class="row g-0 bg-body-secondary position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="{{ object.image|my_media }}" class="w-100" alt="Card image cap">
            </div>
            <div class="col-md-6 p-4 ps-md-0">
                <h5 class="mt-0 text-white" >{{object.full_name}}</h5>
                <strong class="d-block text-warning">{{object.email}}</strong>
                <h5 class="mt-0 text-white">{{object.comment}}</h5>
                <div class="btn-group-small mb-5">
                    <a href="{% url 'users:users_detail' object.pk %}" class="btn btn-outline-secondary active"
                       aria-current="page">Профиль</a>
                    <a href="{% url 'users:update_user' object.pk %}" class="btn btn-outline-success">Обновить</a>
                    <a href="{% url 'users:users_confirm_delete' object.pk %}" class="btn btn-outline-danger">Удалить</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
