{% extends 'main/base.html' %}
{% block content %}
{% load static %}
{% load my_tags %}
<div class="row">
    <div class="col-md-4">
        <h2>{{users.full_name}}</h2>
        <img class="card-img-top"
                 src="{{object.image|my_media}}"
                 alt="Card image cap">
        <h5 class="mt-0 text-white">{{object.full_name}}</h5>
        <h5 class="mt-0 text-white">{{object.email}}</h5>
        <h5 class="mt-0 text-white mb-4">{{users.comment}}</h5>
        <a href="{% url 'users:update_user' object.pk %}" class="btn btn-outline-success">Обновить информацию</a>
        <a href="{% url 'users:users_list' %}" class="btn btn-dark">Назад</a>
    </div>
</div>
{% endblock %}