{% extends 'main/base.html' %}
{% block content %}

<div class="container text-center">
    {% if perms.main.view_coustomer %}
    <a href="{% url 'main:customer_create' %}" class="btn btn-primary btn-lg btn-block mb-3">Добавить клиента</a>
    {% endif %}
</div>

{% for object in object_list %}

<div class="col-md-12">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
                <a class="text-dark"
                   href="{% url 'main:customer_detail' object.pk %}">{{ object.fullname }}</a>
            </h3>
            <div class="mb-1 text-muted">{{ object.email }}</div>
            <p class="card-text mb-auto">{{ object.comment }}</p>
            <a href="{% url 'main:customer_detail' object.pk %}">Подробнее..</a>
            {% if object.created_by == user or user.is_superuser %}
            <a class="alert-danger" href="{% url 'main:customer_update' object.pk %}">>>Изменить</a>
            <a class="alert-warning" href="{% url 'main:customer_delete' object.pk %}">>>Удалить</a>
            {% endif %}
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}