{% extends 'main/base.html' %}
{% block content %}
{% if perms.main.view_mailing %}
<div class="container-fluid text-center">
<a href="{% url 'main:mailing_create' %}" class="btn btn-primary btn-lg btn-block mb-3">Добавить рассылку</a>
</div>
{% endif %}
{% for object in object_list %}

<div class="col-md-12">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
                <a class="text-dark"
                   href="{% url 'main:mailing_detail' object.pk %}">{{ object.message }}</a>
            </h3>
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <table class="table">
                        <tr>
                            <td>Периодичность рассылки</td>
                            <td>{{ object.frequency }}</td>
                        </tr>
                        <tr>
                            <td>Статус рассылки</td>
                            <td>{{ object.status }}</td>
                        </tr>
                        <tr>
                            <td>Время рассылки</td>
                            <td>{{ object.mailing_time }}</td>
                        </tr>
                    </table>
                    <a href="{% url 'main:mailing_detail' object.pk %}">Подробнее..</a>
                    {% if object.created_by == user or user.is_superuser %}
                    <a class="alert-danger"
                       href="{% url 'main:mailing_update' object.pk %}">>>Изменить</a>
                    <a class="alert-warning"
                       href="{% url 'main:mailing_delete' object.pk %}">>>Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}